<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<header>Albums</header>
<body>
<main>
    <div>
        <form action="/albumsave" method="post">
            <fieldset>
                <legend>Add an album</legend>
                <label> Album title</label>
                <input type="text"  name="title" required='required' />
                <label>Artist</label>
                <input type="text"  name="artist" required='required' />
                <label> Song Count</label>
                <input type="text"  name="songCount" required='required'/>
                <label> Album length</label>
                <input type="text"  name="length" required='required' />
                <label> Album Art url</label>
                <input type="text"  name="imageUrl" required='required' />
                <input type="submit" value="Add Album">
            </fieldset>
        </form>
    </div>

<div style="display:flex; justify-content: space-evenly; flex-direction: row;">
    <div th:each="Album : ${Albums}">
        <p th:text="'Album Title: ' + ${Album.title}"/>
        <p     th:text="'Artist: ' + ${Album.artist}" />
        <p    th:text="'Song count: ' + ${Album.songCount}"/>
        <p    th:text="'Length in sec: ' + ${Album.length}"/>
        <p    th:text="'Image url: ' + ${Album.imageUrl}"/>
    </div>
</div>
</main>

</body>
</html>